/*
	Primary (dark): #00796B
	Primary: #009688
	Primary (light): #B2DFDB
	Primary Text: #FFFFFF
	Accents: #607D8B
	Primary text: #212121
	Secondary text: #727272
	Dividers: #B6B6B6

	Headers: font-family: 'Roboto Slab', serif;
	Text: font-family: 'Titillium Web', sans-serif;
*/

/** COMMON */

body {
	font-family: 'Titillium Web', sans-serif;
}

section {
	margin-top: 30px;
}

footer {
	margin-top: 15px;
	padding-top: 5px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Roboto Slab', serif;
}

p {
	color: #212121;
}

/** HEADER */

.section-header {
	padding-top: 75px;
	padding-bottom: 75px;
	border-bottom: 10px solid #00796B;
	background-color: #009688;
}

.section-header h1 {
	font-size: 40px;
	font-weight: 500;
	color: #FFF;
}

.subtitle {
	margin-top: 20px;
	font-size: 24px;
	color: #B2DFDB;
}

@media (min-width: 768px) {
	.section-header h1 {
		font-size: 60px;
	}
}

@media (min-width: 992px) {
	.section-header {
		padding-top: 125px;
		padding-bottom: 125px;
	}
}

/** PROJECTS */
.panel-project h3 {
	margin-top: 0px;
}

/** CONTACT */
.list-social {
	padding-top: 10px;
}

/** FOOTER */

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #607D8B;
}

footer p {
	color: #FFF;
}

footer a {
	color: #B6B6B6;
}

footer a:hover {
	color: #212121;
	text-decoration: none;
}

.btn-social {
	border-bottom: solid 5px #ccc;
}

.btn-social:hover {
	color: #212121;
	background-color: #B6B6B6;
	transition: background-color, 0.5s, ease-out;
}

.btn-twitter {
	color: #55ACEE;
	border-color: #55ACEE;
	transition: background-color, 0.5s, ease-out;
}

.btn-linkedin {
	color: #0077B5;
	border-color: #0077B5;
}

.btn-github {
	color: #212121;
	border-color: #212121;
}
